<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 text-center">
     <div class="task-header">
      <h1>Hassan's task</h1>
   
     </div>
    </div>
  </div>


  <!-- images grid  -->
  <div class="row">
    <div *ngFor="let img of imagesArray ;let i = index" class="col-lg-4 col-md-6 my-2">
      <div (click)="toggleDialog = true ; openDialog(i)" class="img-box">
        <!-- ../assets/images.jpg -->
        <img src="{{img.url}}" alt="">

        <div class="zoom">
        
          <i class="fa-solid fa-magnifying-glass-plus"></i>
        </div>
      </div>
    </div>
   
  </div>
</div>


<!-- dialog  -->
<div *ngIf="toggleDialog"  class="container-fluid dialog-container row">

  <!-- dialog content  -->
  <div class="container box-container col-lg-8 col-md-8 col-12">

    <i (click)="toggleDialog = false" class="fa-solid fa-xmark"></i>

    <i (click)="slideRight()" class="fa-solid fa-arrow-right"></i>
    <i (click)="slideLeft()" class="fa-solid fa-arrow-left"></i>


    <img src="{{imgObj.url}}" alt="">
    <h4>{{imgObj.name}}</h4>

    <p class="imgCount"> image {{imgIndex+1}}/{{imagesArray.length}}</p>
  </div>

</div>